.header-wrapper{
    display: flex;
    background-color: #282c34;
    color: white;
}

.header-wrapper > img {
    height: 100px;
    pointer-events: none;
    margin-left: 100px;
}

.header-title{
    font-size: 20px;
    margin-top: 33px;
    margin-left: 3px;
}

.navigation {
    display: flex;
    margin-left: auto;
}
  
.navigation > button {
    margin: 20px 50px 0 0;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
}

.footer{
    margin-top: 1rem;
    color: white;
    padding: 1rem;
    background-color: #282c34;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}